.about-right, .subtitle {
    margin-bottom: 12%;
}

.about-left {
    text-align: center;
}

.picture {
    width: 65%;
    border-radius: 15pt;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

@media screen and (min-width: 601px) {
    .about {
        margin-top: 156px;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 4%;
    }

    .about-column {
        float: left;
        width: 50%;
    }

    .about-row:after {
        content: "";
        display: table;
        clear: both;
    }

    .title {
        font-size: 32pt;
    }

    .subtitle {
        font-size: 16pt;
        margin-bottom: 12%;
    }

    .text {
        font-size: 20pt;
        margin-bottom: 6%;
    }

    .about-left {
        margin-top: 10%;
        margin-left: 10%;
    }
}

@media screen and (max-width: 600px) {
    .about {
        margin-top: 80px;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 4%;
    }

    .title {
        font-size: 22pt;
    }

    .subtitle {
        font-size: 10pt;
    }

    .text {
        font-size: 12pt;
        margin-bottom: 8%;
    }

    .about-left {
        margin-bottom: 15%;
    }
}