body {
     background-color: #EEEEEE;
     color: #393E46;
     margin: 0%;
}

.Article h1 {
     font-family: 'Montserrat';
}

.Article h2 {
     font-family: 'Montserrat';
}

.Article p {
     font-family: 'Inconsolata';
}

.TitleSection {
     text-align: center;
     margin-bottom: 10%;
}

.ArticleInfo {
     margin-bottom: 5%;
     display: flex;
     flex-direction: row;
     align-items: center;
     width: 100%;
     flex-wrap: nowrap;
     justify-content: center;
}

.ArticleAuthor {
     margin-right: 3%;
     font-weight: bolder;
     font-style: italic;
}

.ArticleAuthorPicture {
     margin-right: 2%;
     height: auto;
     border-radius: 50%;
}

.Content p {
     font-weight: 100;
     text-align: justify;
}

.Content h2 {
     text-align: center;
     margin-bottom: 5%;
     margin-top: 10%;
}

.Content greetings {
     font-family: 'Montserrat';
     font-weight: bold;
     text-align: center;
     margin-bottom: 10%;
}

.Content a {
     padding: 3px;
     font-weight: bold;
     background-color: #D65A31;
     color: #EEEEEE;
}

.Content ul {
     list-style: none;
     text-align: left;
     margin-bottom: 5%;
     margin-top: 5%;
}

.Content li::before {
     content: '🔥';
     margin-left: -30px;
     margin-right: 10px;
}

.Content li {
     margin-bottom: 3%;
}

.Content img {
     margin-top: 5%;
     margin-bottom: 5%;
     border-radius: 25pt;
     max-width: 100%;
     height: auto;
}

.Content table {
     text-align: center;
     border-collapse: collapse;
     margin-left: auto;
     margin-right: auto;
     margin-top: 5%;
     margin-bottom: 5%;
     box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.Content table thead tr {
     background-color: #D65A31;
     color: #EEEEEE;
}

.Content th,
.Content td {
     padding: 12px 15px;
}

.Content tbody tr:nth-of-type(even){
     background-color: #f3f3f3;
}

.Content tbody tr:last-of-type {
     border-bottom: 2px solid #D65A31;
}

.Content tbody tr.active-row {
     font-weight: bold;
     color: #D65A31;
}

.Tag {
     color: #393E46;
     background-color: #EEEEEE;
     border: solid;
     text-align: center;
     cursor: pointer;
     margin-right: 3%;
     border-radius: 25pt;
}

.Tag:hover {
     background-color: #D65A31;
     color: #EEEEEE;
}

@media screen and (min-width: 601px) {
     .Article {
          margin-top: 150px;
          margin-left: 25%;
          margin-right: 25%;
     }
      
     .ArticleTitle {
          font-size: 45pt;
          margin-top: 5%;
     }
      
     .ArticleInfo {
          font-size: 12pt;
     }
      
     .ArticleAuthorPicture {
          width: 50px;
     }

     .Content h2 {
          font-size: 26pt;
     }
     
     .Content p {
          font-size: 18pt;
     }

     .Content li {
          font-size: 16pt;
     }

     .Content .Picture {
          width: 100%;
          text-align: center;
     }

     .Content greetings {
          font-size: 28pt;
     }

     .Content table {
          font-size: 18pt;
     }
     
     .Tags {
          margin-bottom: 8%;
          display: block;
          direction: rtl;
     }

     .Tag {
          font-size: 14pt;
          padding: 10pt;
     }
}

@media screen and (max-width: 600px) {
     .Article {
          margin-top: 110px;
          margin-left: 15%;
          margin-right: 15%;
     }
      
     .ArticleTitle {
          font-size: 20pt;
          margin-top: 5%;
     }
      
     .ArticleInfo {
          font-size: 10pt;
     }
      
     .ArticleAuthorPicture {
          width: 25px;
     }
      
     .Content h2 {
          font-size: 16pt;
     }
     
     .Content p {
          font-size: 12pt;
     }

     .Content li {
          font-size: 10pt;
     }

     .Content .Picture {
          width: 100%;
          text-align: center;
     }

     .Content greetings {
          font-size: 18pt;
     }

     .Content table {
          font-size: 10pt;
     }

     .Content img {
          margin-top: 5%;
          margin-bottom: 5%;
          border-radius: 5pt;
          max-width: 100%;
          height: auto;
     }
 
     .Tags {
          margin-bottom: 10%;
          text-align: center;
     }
 
     .Tag {
          font-size: 8pt;
          padding: 6pt;
     }
}