.articleinfo, .content h2, .content h3, .content img, table, ul {
     margin-bottom: 5%;
}

.titlesection, greetings, table, .Picture {
     text-align: center;
}

.articleauthorpicture, .content img {
     height: auto;
}

.titlesection {
     margin-bottom: 10%;
}

.picture, .articleinfo {
     width: 100%;
}

.articleinfo {
     display: flex;
     flex-direction: row;
     align-items: center;
     flex-wrap: nowrap;
     justify-content: center;
}

.articleauthor {
     margin-right: 3%;
     font-weight: bolder;
     font-style: italic;
}

.articleauthorpicture {
     margin-right: 2%;
     border-radius: 50%;
}

.content h2 {
     margin-top: 8%;
}

.content h3 {
     margin-top: 5%;
}

.content greetings {
     font-family: 'Montserrat';
     font-weight: bold;
}

.content a {
     text-decoration: underline;
     padding: 3px;
     font-weight: bold;
     background-color: #D65A31;
     color: #EEEEEE;
}

.content .badges {
     background-color: #EEEEEE;
     padding: 0px;
}

.content ul {
     list-style: none;
     text-align: left;
     margin-top: 5%;
}

.content li::before {
     content: '🔥';
     margin-left: -30px;
     margin-right: 10px;
}

.content li {
     margin-bottom: 3%;
}

.content img {
     margin-top: 5%;
     border-radius: 25pt;
     max-width: 100%;
}

.content table {
     border-collapse: collapse;
     margin-left: auto;
     margin-right: auto;
     margin-top: 5%;
     box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content table thead tr {
     background-color: #D65A31;
     color: #EEEEEE;
}

.content th, .content td {
     padding: 12px 15px;
}

.content tbody tr:nth-of-type(even){
     background-color: #f3f3f3;
}

.content tbody tr:last-of-type {
     border-bottom: 2px solid #D65A31;
}

.content tbody tr.active-row {
     font-weight: bold;
     color: #D65A31;
}

.content .farewell {
     margin-top: 10%;
     margin-bottom: 12%;
}

@media screen and (min-width: 601px) {
     .article {
          margin-top: 150px;
          margin-left: 25%;
          margin-right: 25%;
     }
      
     .articletitle {
          font-size: 45pt;
          margin-top: 5%;
     }
      
     .articleinfo {
          font-size: 12pt;
     }
      
     .articleauthorpicture {
          width: 50px;
     }

     .content h2 {
          font-size: 26pt;
     }

     .content h3 {
          font-size: 22pt;
     }
     
     .content p, .content table {
          font-size: 18pt;
     }

     .content li {
          font-size: 16pt;
     }

     .content greetings {
          font-size: 28pt;
     }
     
     .tags {
          margin-bottom: 8%;
          display: block;
          direction: rtl;
     }

     .tag {
          font-size: 14pt;
          padding: 10pt;
     }
}

@media screen and (max-width: 600px) {
     .article {
          margin-top: 110px;
          margin-left: 15%;
          margin-right: 15%;
     }
      
     .articletitle {
          font-size: 20pt;
          margin-top: 5%;
     }
      
     .articleinfo {
          font-size: 10pt;
     }
      
     .articleauthorpicture {
          width: 25px;
     }
      
     .content h2 {
          font-size: 16pt;
     }

     .content h3 {
          font-size: 14pt;
     }
     
     .content p {
          font-size: 12pt;
     }

     .content li, .content table {
          font-size: 10pt;
     }

     .content greetings {
          font-size: 18pt;
     }

     .content img {
          margin-top: 5%;
          border-radius: 5pt;
          max-width: 100%;
     }
 
     .tags {
          margin-bottom: 10%;
          text-align: center;
     }
 
     .tag {
          font-size: 8pt;
          padding: 6pt;
     }
}