:root {
    --primary-color: #3E065F;
    --second-color: #700B97;
    --third-color: #8E05C2;
    --fourth-color: #000000;
}

body {
    background-color: #EEEEEE;
    color: #393E46;
    margin: 0%;
}

h1, h2, h3 {
    font-family: 'Montserrat';
    font-weight: bolder;
    text-align: center;
}

p, .pagination {
    font-family: 'Inconsolata';
    text-align: justify;
}

a {
    text-decoration: none;
}

.tag {
    color: #393E46;
    background-color: #EEEEEE;
    border: solid;
    border-color: #222831;
    text-align: center;
    cursor: pointer;
    margin-right: 3%;
    border-radius: 25pt;
}

.tag:hover {
    background-color: var(--second-color);
    color: #EEEEEE;
    border: none;
}