body {
    background-color: #EEEEEE;
    color: #393E46;
    margin: 0%;
}

.contact {
    margin-left: 5%;
    margin-right: 5%;
}

.contact h1, h3 {
    font-family: 'Montserrat';
}

.contact p {
    font-family: 'Inconsolata';
    text-align: justify;
}

.title {
    text-align: center;
    color: #393E46;
}

.highlight {
    background-color: #D65A31;
    color: #EEEEEE;
    padding: 2px;
}

.icon-container {
    width: 100%;
    text-align: center;
}

.icon-row a {
    margin-right: 5%;
    text-decoration: none;
}

.icon-row a:hover .icon {
    color: #D65A31;
}

.icon {
    font-size: larger;
    color: #393E46;
}

.picture {
    margin-top: 10%;
    width: 85%;
    border-radius: 15pt;
}

.contact-right {
    margin-top: 10%;
}

@media screen and (min-width: 601px) {
    .contact {
        margin-top: 156px;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 4%;
    }

    .contact-column {
        float: left;
        width: 50%;
    }

    .contact-row:after {
        content: "";
        display: table;
        clear: both;
    }

    .title {
        font-size: 28pt;
    }

    .subtitle {
        font-size: 24pt;
        margin-top: 6%;
        margin-bottom: 6%;
    }

    .text {
        font-size: 20pt;
        margin-bottom: 6%;
    }

    .icon {
        font-size: 8em;
    }

    .LowNav {
        position: absolute;
    }
}

@media screen and (max-width: 600px) {
    .contact {
        margin-top: 70px;
    }
    
    .title {
        font-size: 20pt;
    }

    .icon {
        font-size: 4em;
    }
}