.lownav {
    font-family: 'Montserrat';
    background-color: #222831;
    color: #EEEEEE;
    bottom: 0;
    left: 0;
    width: 100%;
}

.lownav .elements {
    display: inline-flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
}

.lownav .brand {
    margin-right: 10%;
}

.lownav .links {
    width: 20%;
}

.lownav .links img {
    height: 100%;
    margin-right: 5%;
}

@media screen and (min-width: 601px) {
    .lownav .brand .name {
         font-size: 18pt;
    }

    .lownav .links {
         height: 30px;
    }
}

@media screen and (max-width: 600px) {
   .lownav .brand .name {
       font-size: 10pt;
   }

   .lownav .links {
       height: 15px;
   }
}