.LowNav {
    font-family: 'Montserrat';
    background-color: #222831;
    color: #EEEEEE;
    bottom: 0;
    left: 0;
    width: 100%;
}

.LowNav .Elements {
    display: inline-flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
}

.LowNav .Brand {
    margin-right: 10%;
}

.LowNav .Links {
    width: 20%;
}

.LowNav .Links img {
    height: 100%;
    margin-right: 5%;
}

@media screen and (min-width: 601px) {
    .LowNav .Brand .Name {
         font-size: 18pt;
    }

    .LowNav .Links {
         height: 30px;
    }
}

@media screen and (max-width: 600px) {
   .LowNav .Brand .Name {
       font-size: 10pt;
   }

   .LowNav .Links {
       height: 15px;
   }
}