.header {
     font-family: 'Montserrat';
}

.topnav {
     background-color: var(--primary-color);
     width: 100%;
     justify-content: center;
     position: absolute;
     top: 0;
}

.topnavelements {
     width: 90%;
     height: 100%;
     align-items: center;
     display: inline-flex;
     margin-left: 3%;
}

.topnavlinks {
     margin-left: 5%;
}

.topnav a {
     float: left;
     color: #EEEEEE;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
}

.topnav a:hover {
     font-weight: bolder;
}

.topnav a.active {
     color: #EEEEEE;
     height: auto;
     font-weight: bolder;
}

@media screen and (min-width: 601px) {
    .topnav {
         height: 100px;
    }
    
    .topnav a {
         font-size: 14pt;
    }
    
    .topnav a.active {
         font-size: 31pt;
    }
}

@media screen and (max-width: 600px) {
     .topnav {
          height: 60px;
     }

     .topnav a {
          font-size: 10pt;
     }
     
     .topnav a.active {
          font-size: 14pt;
     }
}