.blogbrand, .tags, .pagination-container, .blogscarrusel, .bbdescription {
    text-align: center;
}

.bbdescription {
    font-style: italic;
}

.blogscarrusel, .picture-holder, .info, .pagination-container {
    width: 100%;
}

.clickable, .pagination a {
    color: #393E46;
}

.articleview, .pagination {
    display: inline-block;
}

.pagination a.active, .pagination a:hover:not(.active), .articleview:hover {
    border-radius: 5px 5px 0 0;
}

.articleview:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.picture-holder {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.info {
    display: inline-flex;
    justify-content: center;
    height: auto;
    align-items: baseline;
}

.author {
    margin-right: 3%;
}

.pagination-container {
    margin-top: 2%;
    margin-bottom: 5%;
}

.pagination a {
  float: left;
  padding: 8px 16px;
}

.pagination a.active {
  background-color: var(--second-color);
  color: #EEEEEE;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

@media screen and (min-width: 601px) {
    .homepage {
        margin-top: 150px;
        margin-left: 4%;
        margin-right: 4%;
    }

    .blogbrand, .articleview {
        margin-bottom: 5%;
    }

    .bbauthor {
        font-size: 35pt;
    }

    .bbdescription, .pagination {
        font-size: 14pt;
    }

    .articleview {
        width: 28%;
        margin-right: 2%;
        padding: 10px;
        border: 5px;
    }

    .picture-holder {
        height: 400px;
    }

    .title {
        font-size: 19pt;
    }

    .author {
        font-size: 13pt;
    }

    .date {
        font-size: 12pt;
    }

    .description {
        font-size: 16pt;
    }

    .tag {
        font-size: 11pt;
        padding: 7pt;
    }
}

@media screen and (max-width: 600px) {
    .homepage {
        margin-top: 110px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .blogbrand {
        margin-bottom: 12%;
    }

    .bbauthor {
        font-size: 20pt;
    }

    .bbdescription, .pagination {
        font-size: 10pt;
    }

    .articleview {
        width: 100%;
        margin-bottom: 15%;
        border: 5px;
        border-color: #EEEEEE;
        border-bottom: solid;
    }

    .picture-holder {
        height: 250px;
    }

    .info {
        margin-top: -4%;
        margin-bottom: -2%;
    }

    .title {
        font-size: 14pt;
    }

    .author {
        font-size: 10pt;
    }

    .date, .tag {
        font-size: 7pt;
    }

    .description {
        font-size: 11pt;
        margin-bottom: 7%;
    }

    .tags {
        margin-bottom: 5%;
    }

    .tag {
        padding: 4pt;
    }
}