<!DOCTYPE html>
<html lang="en">
<head>
    {{template "backbone"}}
    <link href="/static/css/404.css" rel="stylesheet">
</head>
<body>
    <div class="header">
        {{template "header"}}
    </div>
    <div class="error-space">
        <h1 class="title">
            This page got anxiety.
        </h1>
        <div class="picture-container">
            <img class="picture" src="/static/pictures/cheems.png">
        </div>
        <h1 class="code">
            404
        </h1>
    </div>
    <div class="footer">
        {{template "footer"}}
    </div>
</body>
</html>