<!DOCTYPE html>
<html lang="en">
<head>
    {{template "backbone"}}
    <link href="/static/css/about.css" rel="stylesheet">
</head>
<body>
    <div class="header">
        {{template "header"}}
    </div>
    <div class="about">
        <div class="about-row">
            <div class="about-column">
                <div class="about-right">
                    <h2 class="title">
                        Sharing my experiences as a Junior Dev.
                    </h2>
                    <h3 class="subtitle">
                        Although it may change in a few years, hopefully.
                    </h3>
                    <p class="text">
                        I always received help from the tech community, and I 
                        believe the best way to give all back is to share my 
                        knowledge. My blog shares my experiences learning all 
                        the tools and technologies that excites me the most.
                    </p>
                    <p class="text">
                        I hope this blog helps you to solve a little bug or 
                        inspire you in some sort.
                    </p>
                    <p class="text">
                        Thanks everyone!
                    </p>
                </div>
            </div>
            <div class="about-column">
                <div class="about-left">
                    <img class="picture" 
                    src="/static/pictures/gibranherrera.jpeg">
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        {{template "footer"}}
    </div>
</body>
</html>