<!DOCTYPE html>
<html lang="en">
<head>
    {{template "backbone"}}
    <meta name="twitter:title" content="{{.Title}}">
    <meta name="twitter:description" content="Sample description">
    <meta name="twitter:image" content="http://graphics8.nytimes.com/images/2012/02/19/us/19whitney-span/19whitney-span-articleLarge.jpg">
    <link href="/static/css/article.css" rel="stylesheet">
    <link href="/static/css/gist.css" rel="stylesheet">
</head>
<body>
    <div class="header">
        {{template "header"}}
    </div>
    <div class="article">
        <div class="titlesection">
            <h1 class="articletitle">
                {{.Title}}
            </h1>
            <div class="articleinfo">
                <img class="articleauthorpicture" src="/static/pictures/gibranherrera.jpeg">
                <p class="articleauthor">
                    {{.Author}}
                </p>
                <p>
                    {{.Date.Format "2006 Jan 02"}}
                </p>
            </div>
        </div>
        <div class="content">
            {{.Content}}
        </div>
        <div class="tags">
            {{range .Tags}}
                <a href="#tag">
                    <button class="tag">{{.}}</button>
                </a>
            {{end}}
        </div>
    </div>
    <div class="footer">
        {{template "footer"}}
    </div>
</body>
</html>