<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Junior Dev Blog</title>
    <link href="/static/css/article.css" rel="stylesheet">
    <link href="/static/css/gist.css" rel="stylesheet">
    <link href="/static/css/header.css" rel="stylesheet">
    <link href="/static/css/footer.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
</head>
<body>
    <div class="Header">
        {{template "header"}}
    </div>
    <div class="Article">
        <div class="TitleSection">
            <h1 class="ArticleTitle">
                {{.Title}}
            </h1>
            <div class="ArticleInfo">
                <img class="ArticleAuthorPicture" src="/static/pictures/gibranherrera.jpeg">
                <p class="ArticleAuthor">
                    {{.Author}}
                </p>
                <p>
                    {{.Date.Format "2006 Jan 02"}}
                </p>
            </div>
        </div>
        <div class="Content">
            {{.Content}}
        </div>
        <div class="Tags">
            {{range .Tags}}
                <a href="#Tag" target="_blank">
                    <button class="Tag">{{.}}</button>
                </a>
            {{end}}
        </div>
    </div>
    <div class="Footer">
        {{template "footer"}}
    </div>
</body>
</html>