<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Junior Dev Blog</title>
    <link href="/static/css/contact.css" rel="stylesheet">
    <link href="/static/css/header.css" rel="stylesheet">
    <link href="/static/css/footer.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
    <div class="Header">
        {{template "header"}}
    </div>
    <div class="contact">
        <h1 class="title">Want to know me better?</h1>
        <div class="contact-row">
            <div class="contact-column">
                <div class="contact-left">
                    <img class="picture" src="/static/pictures/contact.jpg">
                </div>
            </div>
            <div class="contact-column">
                <div class="contact-right">
                    <p class="text">
                        <span class="highlight">Passion</span> describes myself. I bring it on all the projects I get 
                        involved, from work to open source, and of course my daily life. 
                        But I also have a growing skillset including Go, Python, Linux, AWS,
                        SQL, and Web Development (HTML, CSS, JavaScript).
                    </p>
                    <h3 class="subtitle">Feel free to contact me:</h3>
                    <div class="icon-container">
                        <div class="icon-row">
                            <a href="mailto:gibranhl2@gmail.com?subject=Hey, I checked out your blog!">
                                <span class="icon"><i class="fas fa-envelope-square"></i></span>
                            </a>
                            <a href="https://twitter.com/gibranhl" target="_blank">
                                <span class="icon"><i class="fab fa-twitter-square"></i></span>
                            </a>
                            <a href="https://mx.linkedin.com/in/gibranherreralopez" target="_blank">
                                <span class="icon"><i class="fab fa-linkedin"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="Footer">
        {{template "footer"}}
    </div>
</body>
</html>