<!DOCTYPE html>
<html lang="en">
<head>
    {{template "backbone"}}
    <meta name="twitter:title" content="Contact">
    <meta name="twitter:description" content="Drop a DM 👀">
    <meta name="twitter:image" content="https://gdevplus.herokuapp.com/static/pictures/contact.jpg">
    <link href="/static/css/contact.css" rel="stylesheet">
    <link 
        rel="stylesheet" 
        href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" 
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" 
        crossorigin="anonymous"
    />
</head>
<body>
    <div class="header">
        {{template "header"}}
    </div>
    <div class="contact">
        <h1 class="title">Want to know me better?</h1>
        <div class="contact-row">
            <div class="contact-column">
                <div class="contact-left">
                    <img class="picture" src="/static/pictures/contact.jpg">
                </div>
            </div>
            <div class="contact-column">
                <div class="contact-right">
                    <p class="text">
                        <span class="highlight">Passion</span> describes myself. I bring it on all the projects I get 
                        involved, from work to open source, and of course my daily life. 
                        But I also have a growing skillset including Go, Python, Linux, AWS,
                        SQL, and Web Development (HTML, CSS, JavaScript).
                    </p>
                    <h3 class="subtitle">Feel free to contact me:</h3>
                    <div class="icon-container">
                        <div class="icon-row">
                            <a href="mailto:gibranhl2@gmail.com?subject=Hey, I checked out your blog!">
                                <span class="icon"><i class="fas fa-envelope-square"></i></span>
                            </a>
                            <a href="https://twitter.com/gibranhl" target="_blank">
                                <span class="icon"><i class="fab fa-twitter-square"></i></span>
                            </a>
                            <a href="https://mx.linkedin.com/in/gibranherreralopez" target="_blank">
                                <span class="icon"><i class="fab fa-linkedin"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        {{template "footer"}}
    </div>
</body>
</html>