{{define "footer"}}
<div class="LowNav">
    <div class="LowNavElements">
        <div class="LowNavBrand">
            <p class="BrandName">Junior Dev Blog</p>
        </div>
        <div class="LowNavLinks">
            <a href="https://twitter.com/gibranhl" target="_blank">
                <img class="Twitter" src="/static/Pictures/TwitterLogo.png">
            </a>
            <a href="https://github.com/GibranHL0">
                <img src="/static/Pictures/GitHubLogo.png" target="_blank">
            </a>
            <a href="https://mx.linkedin.com/in/gibranherreralopez" target="_blank">
                <img src="/static/Pictures/LinkedinLogo.png">
            </a>
        </div>
    </div>
</div>
{{end}}