{{define "footer"}}
<div class="lownav">
    <div class="elements">
        <div class="brand">
            <p class="name">Junior Dev Blog</p>
        </div>
        <div class="links">
            <a href="https://twitter.com/gibranhl" target="_blank">
                <img class="twitter" src="/static/pictures/twitter.png">
            </a>
            <a href="https://github.com/GibranHL0">
                <img src="/static/pictures/github.png" target="_blank">
            </a>
            <a href="https://mx.linkedin.com/in/gibranherreralopez" target="_blank">
                <img src="/static/pictures/linkedin.png">
            </a>
        </div>
    </div>
</div>
{{end}}