<!DOCTYPE html>
<html lang="en">
<head>
    {{template "backbone"}}
    <meta name="twitter:title" content="Welcome to GDev+ Blog">
    <meta name="twitter:description" content="The latest updates of my dev journey 🌱">
    <meta name="twitter:image" content="https://gdevplus.herokuapp.com/static/pictures/gibranherrera.jpeg">
    <link href="/static/css/home.css" rel="stylesheet">
    {{$current := .Current}}
    {{$url := .Url}}
</head>
<body>
    <div class="header">
        {{template "header"}}
    </div>
    <div class="homepage">
        <div class="blogbrand">
            <h2 class="bbauthor">
                Gibran Herrera's Blog
            </h2>
            <p class="bbdescription">
                Latest updates of my dev journey 🌱
            </p>
        </div>
        <div class="blogscarrusel">
            {{range .Articles}}
            <a class="clickable" href="{{$url}}article?id={{.Id}}">
                <div class="articleview">
                    <div class="picture-holder" style="background-image: url({{.Picture}});"></div>                
                    <h2 class="title">
                        {{.Title}}
                    </h2>
                    <div class="info">
                        <p class="author">
                            {{.Author}}
                        </p>
                        <p class="date">
                            {{.Date.Format "2006 Jan 02"}}
                        </p>
                    </div>
                    <p class="description">
                        {{.Description}}
                    </p>
                    <div class="tags">
                        {{range .Tags}}
                        <a href="#">
                            <button class="tag">{{.}}</button>
                        </a>
                        {{end}}
                    </div>
                </div>
            </a>
            {{end}}
        </div>
    </div>
    <div class="pagination-container">
        <div class="pagination">
            {{if .HasBefore}}
                <a href="{{$url}}?page={{.Newer}}">Newer</a>
            {{end}}
            {{range .Pages}}
                {{if eq . $current}}
                    <a class="active" href="{{$url}}?page={{.}}">{{.}}</a>
                {{else}}
                    <a href="{{$url}}?page={{.}}">{{.}}</a>
                {{end}}
            {{end}}
            {{if .HasNext}}
                <a href="{{$url}}?page={{.Older}}">Older</a>
            {{end}}
        </div>
    </div>
    <div class="footer">
        {{template "footer"}}
    </div>
</body>
</html>