<!DOCTYPE html>
<html lang="en">
<head>
    {{template "backbone"}}
    <link href="/static/css/newsletter.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
</head>
<body>
    <div class="header">
        {{template "header"}}
    </div>
    <div class="newsletter">
        {{if .Success}}
        <div class="news-container">
            <h1 class="title">🎉 Thanks for Subscribing 🎉</h1>
            <div class="thanks-container">
                <img class="thanks-img" src="https://64.media.tumblr.com/d420af617681d824a64322d7aaccbeed/tumblr_psdx6nZVou1s4xk33o1_500.gif">
            </div>
        </div>
        {{else}}
        <div class="news-container">
            <form method="POST">
              <h1 class="title">Join GDev+ Newsletter</h1>
              <p class="description">Get the latest of my dev journey, and hopefully leave the Junior steps soon.</p>
              <div class="email-box">
                <span class="email-icon">
                    <i class="fas fa-envelope"></i>
                </span>
                <input class="tbox" type="email" name="email" placeholder="Enter your email">
                <button class="btn" type="submit" name="button">Subscribe</button>
              </div>
              <p class="disclosure">Promise to not spam you!</p>
            </form>
        </div>
        {{end}}  
    </div>
    <div class="footer">
        {{template "footer"}}
    </div>
</body>
</html>